<div id="rulesMenu" class="box" *ngIf="!startPlaying">
  <ul id="rulesList">
      <li>You will get only {{playerMove}} chances</li>
      <li>If you guess lower number than expected the balls will turn green</li>
      <li>If you guess Higher number than expected the balls will turn red</li>
  </ul>
  <button id="startGame" (click)="startGame()"> click to start game</button>

</div>
<div  *ngIf="startPlaying">
  <p *ngIf="win">you Won the game!!</p>
  <p *ngIf="gameOver">Game Over</p>
  <p *ngIf="!win && !gameOver">Used {{playerMoveUsed}} out of {{playerMove}}</p>
  <p >
    <span *ngFor="let ball of balls">
      <app-ball [ball]="ball" (click)="ballClicK(ball)"></app-ball>
    </span>
  </p>

</div>



